 <h1>Welcome to Anagrams!</h1>


<form action="/new_word" method="post">
    <!-- Aqui se pone lo que quieres que aparezca en pantalla -->
    Escribe una palabra:
    <br>
    <!-- Aqui solicitas una caja de texto -->
    <input type="text" name="user_word">
    <!-- Estos son los comandos para el boton -->
    <input type="submit" value="Submit">
  </form>
 